# OS Specific
.DS_Store
Thumbs.db
*.swp

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
env/
venv/
ENV/

# ML Models & Large Files
*.bin
*.pt
*.pth
*.h5
*.onnx

# Flutter / Mobile
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IDEs
.vscode/
.idea/
*.iml